@model BudgetGuru.Models.Debt

@{
    ViewBag.Title = "CreateDebt";
}

<h2 style="color:darkturquoise">Time to add some Debt values</h2>
<hr style="border-color:darkorange" />
<h5 style="color:darkturquoise">&emsp;&emsp;&emsp;If you have none, click button at the bottem to move on!</h5>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h6 style="color:darkorange">What is this debt?</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6 style="color:darkorange">What is the interest rate for this debt?</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Interest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Interest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6 style="color:darkorange">How much do you still owe on this debt?</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DebtValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DebtValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6 style="color:darkorange">What is the total amount you have paid  <br />towards this debt so far?</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"  onclick="alert('Debt Added')" />
            </div>
        </div>
    </div>
}
    <hr style="border-color:darkorange" />
<div>
    <br />
    <h6>@Html.ActionLink("Click here to move on", "Index")</h6>
</div>
