@model BudgetGuru.Models.BudgetModel
@{
    ViewBag.Title = "Home";
}

<h2>Financial Questionnaire</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Lets start off with a few questions about your goals</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
            <div class="control-label col-md-2">What is your most desired financial goal?</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Goals.GoalDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Goals.GoalDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    <div class="form-group">
        <div class="control-label col-md-12">When would you like to have this goal achieved?</div>
        <br />
        <div class="col-md-2">
            Month (Number)
            @Html.TextBox("Month", null, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            Date
            @Html.TextBox("Date", null, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            Year
            @Html.TextBox("Year", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">What is the total cost of this Goal?</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Goals.TotalCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Goals.TotalCost, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>Next, a few questions about your money situation</h4>
    <div class="form-group">
        <div class="control-label col-md-2">What is your Annual Income?</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Budget.Income, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Budget.Income, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">How much, if any, savings have you set aside?</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Budget.Savings, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Budget.Savings, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>Now lets move onto bills</h4>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Information" class="btn btn-default" />
        </div>
    </div>
</div>
}
