@model BudgetGuru.Models.BudgetModel
@{
    ViewBag.Title = "Index";
}

<hr style="border-color:darkturquoise; border-top-width:thick;border-style:outset" />
<h2 style=" color: darkturquoise; font-family:'Franklin Gothic'">Budget Command Console</h2>
<hr style="border-color:darkturquoise; border-top-width:thick;border-style:outset" />



<br />
<br />
<div class="row">
    <div class="table-responsive">
        <center><h5 style="color: darkorange">Current Month Overview</h5></center>
        <table class="table">
            <tr>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.Income)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.Savings)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.Bills)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.Debt)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.MonthlyExpenditures)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.ExtraExpenditures)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.MonthlyLimit)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.MonthTotalCost)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.NetProfit)</u>
                </th>
            </tr>
            <tr>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.Income)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.Savings)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.Bills)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.Debt)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.MonthlyExpenditures)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.ExtraExpenditures)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.MonthlyLimit)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.MonthTotalCost)
                </td>
                <td style="color: lightgreen">
                    $@Html.DisplayFor(model => model.Budget.NetProfit)
                </td>
            </tr>
        </table>
        <hr style="border-color: darkorange" />
    </div>
</div>
<div class="offset-9">@Html.ActionLink("Set Spending Limit", "Budget", "Budget", null)</div>
<br />
<br />
<div class="row">
    <div class="col-6">
        <img src="@Url.Action("BudgetChart")" />
    </div>
    <div class="col-3"></div>
    
    <div class="col-3" style="height:400px; overflow:auto">
        <center><h5 style="color: darkorange">Previous Months</h5></center>
        <table class="table">
            <tr>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.MonthId) / @Html.DisplayNameFor(model => model.Budget.Year)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.NetProfit)</u>
                </th>
            </tr>
            @foreach (var item in Model.BudgetList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthId) / @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td style="color: lightgreen">
                        $@Html.DisplayFor(modelItem => item.NetProfit)
                    </td>
                </tr>
            }
        </table>
        <hr style="border-color: darkorange" />
    </div>
</div>
<br />
<br />
<br />
    <div class="row">
        <div class="col-6" style="height:400px; overflow:auto">
            <center><h5 style="color: darkorange">Bills</h5></center>
            <table class="table">
                <tr>
                    <th>
                        <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Bills.BillDescription)</u>
                    </th>
                    <th>
                        <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Bills.MonthlyCost)</u>
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                @if (Model.BillsList.Count != 0)
                {
                    foreach (var item in Model.BillsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillDescription)
                            </td>
                            <td style="color: lightgreen">
                                $@Html.DisplayFor(modelItem => item.MonthlyCost)
                            </td>
                            <td>

                                @Html.ActionLink("Pay", "Delete", "Bills", new { id = item.BillId }, null)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Bills", new { id = item.BillId }, null) |
                                @Html.ActionLink("Delete", "Destroy", "Bills", null)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <center style="color: yellow">You Paid All Your bills!</center>
                        </td>
                        <td></td>
                    </tr>
                }

                @Html.ActionLink("Add New Bill?", "Create", "Bills")
            </table>
            <hr style="border-color: darkorange" />
        </div>
        <div class="col-6" style="height:400px; overflow:auto">
            <center><h5 style="color: darkorange">Extra Expenditures</h5></center>
            <table class="table">
                <tr>
                    <th>
                        <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Expenditures.ExpenditureDescription)</u>
                    </th>
                    <th>
                        <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Expenditures.ExpenditureCost)</u>
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model.ExpendituresList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenditureDescription)
                        </td>
                        <td style="color: lightgreen">
                            $@Html.DisplayFor(modelItem => item.ExpenditureCost)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Expenditures", new { id = item.ExpenditureId }, null) |
                            @Html.ActionLink("Delete", "Delete", "Expenditures", new { id = item.ExpenditureId }, null)
                        </td>
                    </tr>
                }
                @Html.ActionLink("Add Expenditure?", "Create", "Expenditures")
            </table>
            <hr style="border-color: darkorange" />
        </div>

    </div>
<br />
<hr style="border-color:darkturquoise"/>
<br />
<br />
<div class="row">
    <div class="col-8" style="height:200px; overflow:auto">
        <center><h5 style="color: darkorange">Debt</h5></center>

        <table class="table">
            <tr>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Debt.Description)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Debt.DebtValue)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Debt.Interest)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Debt.AmountPaid)</u>
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.DebtList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="color: lightgreen">
                        $@Html.DisplayFor(modelItem => item.DebtValue)
                    </td>
                    <td style="color: lightgreen">
                        %@Html.DisplayFor(modelItem => item.Interest)
                    </td>
                    <td style="color: lightgreen">
                        $@Html.DisplayFor(modelItem => item.AmountPaid)
                    </td>
                    <td>
                        @Html.ActionLink("Make Payment", "Edit", "Debts", new { id = item.DebtId }, null)
                    </td>
                </tr>
            }

        </table>
        <hr style="border-color: darkorange" />
    </div>

</div>

<div class="row">
    <div class="col-8" style="height:200px; overflow:auto">
        <center><h5 style="color: darkorange">Goals</h5></center>
        <table class="table">
            <tr>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Goals.GoalDescription)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Goals.TotalCost)</u>
                </th>
                <th>
                    <u style="color: darkturquoise">@Html.DisplayNameFor(model => model.Goals.AchievementDate)</u>
                </th>
                <th>
                    <a style="color: darkturquoise">@Html.DisplayNameFor(model => model.Budget.Savings):</a><a style="color: lightgreen"> $@Html.DisplayFor(model => model.Budget.Savings)</a>
                </th>
            </tr>

            @foreach (var item in Model.GoalsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoalDescription)
                    </td>
                    <td style="color: lightgreen">
                        $@Html.DisplayFor(modelItem => item.TotalCost)
                    </td>
                    <td style="color: lightgreen">
                        @Html.DisplayFor(modelItem => item.AchievementDate)
                    </td>
                    <td>
                        @Html.ActionLink("Use Savings to Achieve Goal?", "Edit", "Goals", new { id = item.GoalId }, null)
                    </td>
                </tr>
            }
            @Html.ActionLink("Add New Goal?", "Create", "Goals")

        </table>
        <hr style="border-color: darkorange" />
    </div>
</div>
    <div class="row">
       
    </div>


