@model BudgetGuru.Models.BudgetModel
@{
    ViewBag.Title = "Index";
    ViewBag.Checked = false;
}

<h2>Budget Command Console</h2>
<div class="row">
    <div class="table-responsive">
        <center><h5>Overview</h5></center>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.Income)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.Savings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.MonthlyExpenditures)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.Debt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.Bills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.ExtraExpenditures)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.MonthTotalCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget.NetProfit)
                </th>
            </tr>
            <tr>
                <td>
                    $@Html.DisplayFor(model => model.Budget.Income)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.Savings)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.MonthlyExpenditures)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.Debt)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.Bills)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.ExtraExpenditures)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.MonthlyExpenditures)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.Budget.NetProfit)
                </td>
            </tr>
        </table>
    </div>
</div>

<img src="@Url.Action("BudgetChart")"/>
    <div class="row">
        <div class="table-responsive col-6">
            <center><h5>Bills</h5></center>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Bills.BillDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bills.MonthlyCost)
                    </th>
                    <th>
                        
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model.BillsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthlyCost)
                        </td>
                        <td>
                            @Html.ActionLink("Pay", "Delete", "Bills", new { id = item.BillId })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Bills", new { id = item.BillId })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-6">
            <center><h5>Debts</h5></center>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Debt.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Debt.DebtValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Debt.Interest)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Debt.AmountPaid)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.DebtList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DebtValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Interest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td>
                            @Html.ActionLink("Make Payment", "Edit", "Debts", new { id = item.DebtId })
                            
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
    <div class="row">
        <div class="table-responsive col-3">
            <center><h5>Extra Expenditures</h5></center>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Expenditures.ExpenditureDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Expenditures.ExpenditureCost)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.ExpendituresList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenditureDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenditureCost)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Bills", new { id = item.ExpenditureId }) |
                            @Html.ActionLink("Delete", "Delete", "Bills", new { id = item.ExpenditureId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <h6 class="offset-2">@Html.ActionLink("Add Expenditures", "Create", "Expenditures", new { Style = "color:Red" })</h6>
    </div>


