@model BudgetGuru.Models.Goals

@{
    ViewBag.Title = "Create";
}
<br />
<div class="row">
    <h2 class="" style="color: darkturquoise">Add Goal</h2><img src="~/58568b014f6ae202fedf2717.png" width="50" height="50" />
</div>
<div class="row">
    <div class="offset-1"></div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-8">
            <h4></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label" style="color: darkorange">What Is This Goal?</div>
                <div class="">
                    @Html.EditorFor(model => model.GoalDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GoalDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label" style="color: darkorange">When would you like to have this goal achieved?</div>
                <br />
                <div class="">
                    <a style="color: darkorange">Month (Number)</a>
                    @Html.TextBox("Month", null, new { @class = "form-control" })
                </div>
                <div class="">
                    <a style="color: darkorange">Date</a>
                    @Html.TextBox("Date", null, new { @class = "form-control" })
                </div>
                <div class="">
                    <a style="color: darkorange">Year</a>
                    @Html.TextBox("Year", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label" style="color: darkorange">What is the total cost of this Goal?</div>
                <div class="">
                    @Html.EditorFor(model => model.TotalCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalCost, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>
    <div>
        @Html.ActionLink("Back to Command Center", "Index", "Budget")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
