@model BudgetGuru.Models.Bills

@{
    ViewBag.Title = "Delete";
}

<br />
<h3 style="color:darkturquoise">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:darkorange">
            @Html.DisplayNameFor(model => model.BillDescription)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.BillDescription)
        </dd>

        <dt style="color:darkorange">
            @Html.DisplayNameFor(model => model.MonthlyCost)
        </dt>

        <dd style="color:lightgreen">
            $@Html.DisplayFor(model => model.MonthlyCost)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <br />
        <div>@Html.ActionLink("Back to List", "Index")</div>
    }
</div>
